@import "tailwindcss";

:root {
    --color-primary: #E2BE6A;
    --color-primary-dark: #B8952E;
    --color-primary-light: #F1D18A;
    --color-emerald-custom: #10B981;
    --color-emerald-dark: #064E3B;
    --color-bg-dark: #0A0D11;
    --color-bg-surface: #16191E;
    --color-bg-card: #1C2229;
    --color-gold: #E2BE6A;
}

@theme {
    /* Fonts */
    --font-sans: Inter, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-display: Cinzel, serif;

    /* Colors */
    --color-primary: #E2BE6A;
    --color-primary-dark: #B8952E;
    --color-primary-light: #F1D18A;
    --color-emerald-custom: #10B981;
    --color-emerald-dark: #064E3B;
    --color-bg-dark: #0A0D11;
    --color-bg-surface: #16191E;
    --color-bg-card: #1C2229;
    --color-gold: #E2BE6A;
}